version: 2.1

parameters:
  flow:
    type: enum
    enum: [build, pre-release, release]
    default: build
  version:
    type: string
    default: ""

commands:
  install-gh:
    steps:
      - run:
          name: "Install GH"
          command: |
            brew install gh
      - run:
          name: Install mbx-ci
          command: |
            curl -Ls https://mapbox-release-engineering.s3.amazonaws.com/mbx-ci/latest/mbx-ci-darwin-arm64 > /usr/local/bin/mbx-ci
            chmod 755 /usr/local/bin/mbx-ci
  setup_environment:
    steps:
      - add_ssh_keys
      - run:
          name: "Download distribution certificate for codesigning"
          command: |
            bundle install
            bundle exec fastlane setup_distribution_cert
      - install-gh

jobs:
  build_and_test_linux:
    docker:
      - image: swift:latest
    steps:
      - checkout
      - run:
          name: "Build"
          command: swift build
      - run:
          name: "Test"
          command: swift test

  build_and_test_macos:
    parameters:
      xcode_version:
        type: string
    macos:
      xcode: << parameters.xcode_version >>
    resource_class: macos.m4pro.medium
    steps:
      - checkout
      - run:
          name: "Build"
          command: xcodebuild -scheme Turf -configuration Debug -destination 'platform=macOS' build
      - run:
          name: "Test"
          command: xcodebuild -scheme Turf -configuration Debug -destination 'platform=macOS' test CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO

  test_simulator:
    parameters:
      destination:
        type: string
    macos:
      xcode: 15.4.0
    resource_class: macos.m4pro.medium
    steps:
      - checkout
      - run:
          name: "Test << parameters.destination >>"
          command: |
            xcodebuild test \
              -scheme Turf \
              -destination "<< parameters.destination >>" \
              -derivedDataPath build

  create_xcframework:
    macos:
      xcode: 15.4.0
    resource_class: macos.m4pro.medium
    steps:
      - checkout
      - setup_environment
      - run:
          name: "Build and create xcframework"
          command: ./scripts/xcframework.sh build
      - run:
          name: Validate framework stripping
          command: |
            mkdir strip
            cp -r Turf.xcframework strip

            find strip/Turf.xcframework -type f -name "Turf" -not -path "*dSYM*" -exec strip -rDSTx {} \;

            error=0
            for file in $(find Turf.xcframework -type f -name "Turf" -not -path "*dSYM*"); do
                size1=$(stat -f %z "$file")
                size2=$(stat -f %z "strip/$file")

                diff=$(( size1 - size2 ))

                if (( size1 != size2 )); then
                    echo "File sizes differ: $file (original: $size1 bytes, strip: $size2 bytes)"
                    error=1
                fi
            done
            exit $error

          working_directory: build
      - persist_to_workspace:
          root: build
          paths:
            - xcframework_checksum.txt
            - Turf.xcframework.zip

  pre-release-job:
    macos:
      xcode: 15.4.0
    resource_class: macos.m4pro.medium
    steps:
      - checkout
      - setup_environment
      - run:
          name: "Prepare branch for release and make PR"
          command: ./scripts/pre-release.sh << pipeline.parameters.version >>

  release-job:
    macos:
      xcode: 15.4.0
    resource_class: macos.m4pro.medium
    steps:
      - checkout
      - install-gh
      - run:
          name: "Validate cheksum, publish GitHub release, validate manifests, publish CocoaPods"
          command: ./scripts/release.sh << pipeline.parameters.version >>

workflows:
  build-and-test:
    when:
      equal: [ build, << pipeline.parameters.flow >> ]
    jobs:
      - create_xcframework
      - build_and_test_linux
      - build_and_test_macos:
          matrix:
            parameters:
              xcode_version: [15.4.0]
      - test_simulator:
          matrix:
            parameters:
              destination:
                - "platform=visionOS Simulator,OS=1.0,name=Apple Vision Pro"
                - "platform=iOS Simulator,OS=17.2,name=iPhone 15"

  pre-release:
    when:
      equal: [ pre-release, << pipeline.parameters.flow >> ]
    jobs:
      - pre-release-job:
          filters:
            branches:
              only:
                - main

  release:
    when:
      equal: [ release, << pipeline.parameters.flow >> ]
    jobs:
      - release-job:
          filters:
            branches:
              only:
                - main
